In [1]:
import re

In [2]:
import pandas as pd

In [26]:
text = re.search('\d', 'A2')       # digits

In [27]:
print(text)

<re.Match object; span=(1, 2), match='2'>

In [6]:
print(text.group())

2

In [23]:
text = re.search('\D', '22a')      # non-digits
print(text.group())

a

In [9]:
text = 'My phone number is 505-555-5555'

In [19]:
output = re.search('(\d\d\d)-(\d\d\d)-(\d\d\d\d)', text)

In [20]:
print(output.group())

505-555-5555

In [36]:
text = 'My phone number is 415-555-1212'

In [37]:
output = re.search('(\d\d\d)-(\d\d\d-\d\d\d\d)', text)

In [42]:
print(output.group(2))       # we make group with -

555-1212

In [45]:
print(output.group(1))

415

In [46]:
text = 'My phone number is (415) 555-1212'

In [49]:
output = re.search('(\(\d\d\d\)) (\d\d\d-\d\d\d\d)', text)

In [50]:
print(output.group())

(415) 555-1212

In [51]:
value = '0 1, t 10, o 100.'

In [56]:
output = re.findall('\d', value)
print(output)

['0', '1', '1', '0', '1', '0', '0']

In [58]:
output = re.findall('\d\d', value)
print(output)

['10', '10']

In [59]:
output = re.findall('\d{1,3}', value)
print(output)

['0', '1', '10', '100']

In [64]:
phone = '2004-959-559 # This is Phone Number'
output = re.sub('\D', '', phone)             # replace except ('expression')  with ''
print(output)

2004959559

In [63]:
phone = '2004-959-559 # This is Phone Number'
output = re.sub('\D', '.', phone)
print(output)

2004.959.559.......................

In [73]:
txt = 'hello world'

output = re.findall('^he', txt)

print(output)

['he']

In [ ]:
# Pandas

In [76]:
s = pd.Series(['a3', 'b4', 'c5'])            # extract numbers from pandas series

s.str.extract('(\d)')

   0
0  3
1  4
2  5

In [77]:
s = pd.Series(['a3', 'b4', 'c5'])           # extract letters from pandas series

s.str.extract('(\w)')

   0
0  a
1  b
2  c

In [78]:
s = pd.Series(['a3f', 'b4f', 'c5f'])        

s.str.extract('(\w\d)')

    0
0  a3
1  b4
2  c5

In [81]:
s = pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])

In [95]:
s.str.extract('(\d\d|\d.\d|\d)')

      0
0    40
1    38
2   6.4
3   8.3
4   5.1
5   5.4
6   6.7
7   6.2
8   7.3
9   6.3
10  5.7
11  6.1
12  6.8
13  7.5
14  7.4
15  3.6
16    0
17  7.8

In [96]:
s = pd.Series(['40 l/100 km (comb)',
        '38 l/100 km (comb)', '6.4 l/100 km (comb)',
       '8.3 kg/100 km (comb)', '5.1 kg/100 km (comb)',
       '5.4 l/100 km (comb)', '6.7 l/100 km (comb)',
       '6.2 l/100 km (comb)', '7.3 l/100 km (comb)',
       '6.3 l/100 km (comb)', '5.7 l/100 km (comb)',
       '6.1 l/100 km (comb)', '6.8 l/100 km (comb)',
       '7.5 l/100 km (comb)', '7.4 l/100 km (comb)',
       '3.6 kg/100 km (comb)', '0 l/100 km (comb)',
       '7.8 l/100 km (comb)'])

In [103]:
s.str.extract('(\d\d|\d.\d|\d).*(\d\d\d)')

      0    1
0    40  100
1    38  100
2   6.4  100
3   8.3  100
4   5.1  100
5   5.4  100
6   6.7  100
7   6.2  100
8   7.3  100
9   6.3  100
10  5.7  100
11  6.1  100
12  6.8  100
13  7.5  100
14  7.4  100
15  3.6  100
16    0  100
17  7.8  100

In [105]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

In [108]:
s.str.extract('(\d\d).(\d{4})')

     0     1
0   06  2020
1   11  2020
2   10  2019
3   05  2022
4   07  2019
5   06  2022
6   01  2022
7   11  2020
8   04  2019
9   08  2020
10  04  2022

In [109]:
s = pd.Series(['06/2020\n\n4.9 l/100 km (comb)',
'11/2020\n\n166 g CO2/km (comb)',
'10/2019\n\n5.3 l/100 km (comb)',
'05/2022\n\n6.3 l/100 km (comb)',
'07/2019\n\n128 g CO2/km (comb)',
'06/2022\n\n112 g CO2/km (comb)',
'01/2022\n\n5.8 l/100 km (comb)',
'11/2020\n\n106 g CO2/km (comb)',
'04/2019\n\n105 g CO2/km (comb)',
'08/2020\n\n133 g CO2/km (comb)',
'04/2022\n\n133 g CO2/km (comb)'])

In [113]:
s.str.extract('(\d\d).(\d\d\d\d)\s\s(\d{3}|\d.\d)')

     0     1    2
0   06  2020  4.9
1   11  2020  166
2   10  2019  5.3
3   05  2022  6.3
4   07  2019  128
5   06  2022  112
6   01  2022  5.8
7   11  2020  106
8   04  2019  105
9   08  2020  133
10  04  2022  133